// This custom CSS file

// Flext section

// flex properties

// display:flex | inline-flex;
// flex-direction: row | column;
// flex-wrap: wrap | nowrap | wrapreverse;
// flex-basis: <length> - width;
// justify-content:flex-start | flext-end | center;
// align-self: flex-start | flext-end | center;
// align-items: flex-start | flext-end | center;
// align-content: flex-start | flext-end | center;
// flex-grow: <number>;
// flex-shrink: <number>;
// flex: <integer>;
// order: <integer>;

* { 
    margin:0;
    padding:0;
}

html, body {
    height: 100%; 
}

body {
    background-color: #FFD641;
}

button {
    text-align: center;
    font-size: 1em;
    padding: 3px;
    color: #fff;
    background-color: #000;
    margin: 2px;
    border: solid 2px #000;
}
.main-page {
    list-style: none;
    text-align: center;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    

    justify-content: center;
    height: 100%;
    flex-direction: column;
}

#details {
    padding: 10px;
    background-color: gray;
}

#list {
    background-color: tomato;

    ul li{
        display: inline-block;
        padding: 10px;
    }
}    